<!DOCTYPE html>
<html>
<head>
  <title>Eventmanager - by Mike Hubbard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
	<div id="header">
		<h1>
			Event Manager
		</h1>
	</div>
	<div id="navigation">
		<ul>
			<li><%= link_to 'Home', root_path %></li>
			<li><%= link_to 'Exibitors', exibitors_path %></li>
			<li><%= link_to 'Meetings', meetings_path %></li>
			<li><%= link_to 'Venues', venues_path %></li>
			<li><%= link_to 'Exibitor Categories', exibitor_categories_path %></li>
		</ul>
	</div>
	<div id="content">
		<%= yield %>
	</div>
	<div id="footer">
		Copyright © Event Management System Inc., 2013
	</div>
</div>


</body>
</html>
